<div class="surface-ground px-0 py-5 md:px-6 lg:px-8">
    <div class="card surface-card px-2 py-3 flex flex-column align-items-center">
        <p-toolbar styleClass="mb-4 w-full" class="w-full">
            <ng-template pTemplate="left">
                <button
                    pButton pRipple label="Добавить" icon="pi pi-plus" class="p-button-success"
                    (click)="onAddBtnClicked()"></button>
            </ng-template>
            <ng-template pTemplate="right">

            </ng-template>
        </p-toolbar>
        <ng-container *ngIf="(bills$ | async) as bills; else billsSpinner">
            <p-table
                [value]="bills" dataKey="_id" sortField="number" [scrollable]="true"
                scrollHeight="800px" scrollDirection="both" class="w-full" [contextMenu]="cm"
                [(contextMenuSelection)]="selectedBill"
                [globalFilterFields]="['number', 'fromDate', 'customerName', 'contractNumber', 'price']"
                #dt>
                <ng-template pTemplate="caption">
                    <div
                        class="flex align-items-center justify-content-between flex-column lg:flex-row">
                        <h3 class="m-0 mb-2 lg:mb-0">Счета</h3>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText type="text" class="w-full"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Найти..."/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="w-2" pSortableColumn="number">Номер
                            <p-sortIcon field="number"></p-sortIcon>
                        </th>
                        <th class="w-3" pSortableColumn="fromDate">От
                            <p-sortIcon field="fromDate"></p-sortIcon>
                        </th>
                        <th class="w-4" pSortableColumn="customerName">Отправитель
                            <p-sortIcon field="customerName"></p-sortIcon>
                        </th>
                        <th class="w-2" pSortableColumn="contractNumber">Номер заявки
                            <p-sortIcon field="contractNumber"></p-sortIcon>
                        </th>
                        <th class="w-2" pSortableColumn="price">Доход
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-bill>
                    <tr [pContextMenuRow]="bill">
                        <td class="w-2">{{bill['number']}}</td>
                        <td class="w-3">{{bill['fromDate']}}</td>
                        <td class="w-4">{{bill['customer']['name']}}</td>
                        <td class="w-2">{{bill['contractNumber']}}</td>
                        <td class="w-2">{{bill['totalPrice'] | currency:'rub': 2}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>

        <ng-template #billsSpinner>
            <p-progressSpinner></p-progressSpinner>
        </ng-template>
    </div>
</div>

<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>

<p-dialog
    header="Создать новый счет" [(visible)]="modelFormDisplayed" [draggable]="false" [modal]="true"
    [style]="{ width: '70rem' }">
    <app-bills-model-form></app-bills-model-form>
</p-dialog>
